* {
      margin: 0; padding: 0; box-sizing: border-box;
    }

    body, html {
      height: 100%;
      font-family: sans-serif;
      overflow: hidden;
      position: relative;
    }

    video {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .overlay {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      text-align: center;
      padding: 1rem;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .loading-text {
      margin-top: 0rem;
      font-size: 1.2rem;
      opacity: 0.8;
    }

    .instagram-link {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      position: absolute;
      bottom: 1rem;
      opacity: 0.8;
    }

    @media (max-width: 768px) {
      h1 {
        font-size: 2rem;
      }
      /* .lottie-player {
        max-width: 250px;
      } */
    }