/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

/* Navbar & Hero */
.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 2vh 2vw;
}

/* Carousel Base */
.hero-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

/* Each Image */
.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Active Image */
.carousel-image.active {
  opacity: 1;
  z-index: 1;
}

/* Dots Container */
.carousel-indicators {
  position: absolute;
  bottom: 15vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 3;
}

/* Individual Dot */
.carousel-indicators .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: #eaff00 2px solid;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: background 0.3s ease;
}

.carousel-indicators .dot.active {
  background: #eaff00;
}

/* Ensure content is above the carousel */
.hero .social-nav,
.hero .hero-content {
  position: relative;
  z-index: 2;
}

/* .hero {
  background: url('banner_01.webp') center/cover no-repeat;
  color: white;
  padding-bottom: 2rem;
  position: relative;
} */

/* .social-icons{

} */

.social-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
   width: 100%;
}

.social-icons-image {
  width: 2.5vw;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .social-icons{
  margin: auto;
} */

.social-icons img:hover {
  transform: scale(1.05);
}

.language-auth{
  position: absolute;
  top: 0;
  padding: 4vh;
  right: 1%;
  z-index: 4;
}

.language-auth button {
  width: auto;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.3s;
}

.language-auth button:hover {
  background: white;
  color: #0077b6;
}

.hero-content {
  text-align: center;
  margin: 1vw 0vw;
}

.hero-content .logo {
  margin: auto;
  width: 14.5vw;
  margin-bottom: 1rem;
  margin-top: 0;
}

.slogan {
  margin-top: 3rem;
  padding: 1rem;
  transition: background-position 275ms ease;
  text-align: right;
}

@media screen and (min-width: 1275px) {
  .slogan h1 {
  font-size: 8vw;
  margin: 0;
  line-height: 1;
}

.slogan p{
  font-size: 2rem;
  font-weight: 800;
  padding-right: 6rem;
  padding-left: 60%;
  width: auto;
  word-wrap: break-word;
  line-height: 1.2;
  text-align: left;
}
.slogan img{
  width: 7.5rem;
}
}

@media screen and (max-width: 1276px) {
  .slogan h1 {
  font-size: 10vw;
  margin: 0;
  line-height: 0;
}

.slogan p{
  font-size: 2rem;
  font-weight: 800;
  padding-right: 0rem;
  padding-left: 40%;
  width: auto;
  word-wrap: break-word;
  align-self: flex-end;
  line-height: 1.2;
  text-align: left;
}
.slogan img{
  width: 7.5rem;
}
}

@media screen and (max-width: 768px) {

  .slogan {
    text-align: center;
  }

  .slogan h1 {
  font-size: 10vw;
  width: 100%;
  margin: 0;
  line-height: 1.2;
}

  .slogan p {
    font-size: 2rem;
    font-weight: 800;
    padding-right: 0rem;
    padding-left: 0;
    width: auto;
    word-wrap: break-word;
    align-self: flex-end;
    line-height: 1.2;
    text-align: left;
  }

  .slogan img{
  width: 5rem;
}
}

.slogan .sub {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 400;
  justify-content: start;
  color: #eee;
}

.navbar{
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  bottom: 5%;
  z-index: 2;
  width: 100%;
}

/* Navigation Links */
.nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: color 0.3s;
}

.separator {
  color: #eaff00;
}

.nav-links a:hover {
  color: #eaff00;
}

/* Discount Banner */

video {
      position: relative;
      bottom: 300px; left: 0;
      width: 100%; height: 100%;
      object-fit: contain;
      overflow: hidden;
      z-index: -1;
    }

.discount-banner {
  margin: 1rem;
  position: relative;
  display: inline-block;
  max-height: 160px;
  overflow: hidden;
}

.discount-image {
  width: 100%;
  height: auto;
  display: block;
}

.discount-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust for contrast */
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.4); /* Optional: semi-transparent background */ 
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

.bigger-discount {
  font-size: 2.5rem;
  font-weight: 700;
}

.discount-banner:hover .discount-text {
  transform: translate(-50%, -50%) scale(1.05);
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .discount-text {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

/* Locations */

.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
  position: relative;
}

.grid {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.grid.carousel {
  margin-top: 0rem;
  display: flex;
  transition: all 0.4s ease;
  will-change: transform;
}

.embla {
  overflow: hidden;
  width: 100%;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 33%;
  min-width: 0;
}


.vertical-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.location {
  flex: 0 0 calc((100% - 2rem) / 3); /* 3 items */
  /* background: #0077b6; */
  color: white;
 /*  border-radius: 8px; */
  /* font-weight: 600; */
  display: flex;
  text-align: center;
  /* transition: transform 0.3s; */
  position: relative;
/*   display: inline-block; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.location img {
  width: 100%;
  height: auto;
  display: block;
}

.location {
  line-height: 1;
}

.location p{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust for contrast */
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.4); /* Optional: semi-transparent background */ 
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.location span {
  display: block;
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: white
}

.location.large {
  grid-column: span 2;
  position: relative;
}

.location.large p {
  position: absolute;
  text-align: left;
  top: 40%;
  width: 60%;
  left: 30%;
}

.location.large span {
  font-size: 1.5rem;
  font-weight: 700;
}

.location.large strong{
  font-size: 4.5rem;
}

.location.vertical p {
  padding: 3rem 1rem;
  position: absolute;
  text-align: left;
  top: 25%;
  left: 50%;
  width: 100%;
  font-size: 3.5rem;
}

.location.vertical img {
  height: 100%;
}

.location.vertical span {
  font-size: 1.5rem;
  font-weight: 700;
}



.location:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.location.large:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease-in-out;
}

.locations-carousel {
  position: relative;
  width: 100%;
  
}

.locations-left-arrow {
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.locations-left-arrow:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease-in-out;
}

.locations-left-arrow svg:active {
  transform: scale(0.85);
  transition: transform 0.1s ease-in-out;
}

.locations-right-arrow{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.locations-right-arrow:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease-in-out;
}

.locations-right-arrow svg:active {
  transform: scale(0.85);
  transition: transform 0.1s ease-in-out;
}

/* Sponsors */
.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
  padding: 0rem 1rem;
  width: 100%;
}

.sponsors-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.main-sponsor-image{
  grid-column: span 3;
}

.sponsors img {
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.sponsor-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.main-sponsor-image:hover{
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

/* Highlight Section */
.highlight {
  background-color: #023e8a;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 1rem;
  font-weight: 700;
}

/* Testimonials */
/* Carousel Container */
.testimonial-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  line-height: 2;
}

/* Flex Track */
.testimonial-track {
  display: flex;
  gap: 3vw;
  transition: transform 0.5s ease;
  will-change: transform;
  margin-bottom: 10vh;
}

/* Testimonial Card */
.testimonial {
  position: relative;
  background: rgba(255, 255, 255, 0);
  /* padding: 2rem; */
  border-radius: 1rem;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
 /*  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05); */
  width: 26vw;
  flex-shrink: 0;
  text-align: center;
  transform: scale(0.8);
  transition: transform 0.4s ease;
  opacity: 0.5;
  z-index: 3;
}

.testimonial-photo {
  width: 26vw;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonial-text{
  background: #0037758d;
  background-size: cover;
  border-radius: 10%;
  position: absolute;
  top: 60%;
  width: 100%;
  color: white;
  padding: 1vw;
  padding-top: 20%;
  padding-bottom: 0;
}

.quote-icon {
  width: 7vw;
  border-radius: 0;
  position: absolute;
  top: -1.5rem;
  left: 20%;
  transform: translateX(-50%);
}

/* Active (centered) card */
.testimonial.active {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}

.testimonials {
  padding: 0;
  margin: 0;
  display: block;
  background-image: url('background.webp');
  background-size: cover;
  line-height: 0;
}

.testimonial p {
  font-style: italic;
  margin-bottom: 1rem;
  text-align: left;
}

.testimonial h4{
  text-align: left;
  font-size: large;
}

.testimonial span {
  display: block;
  text-align: right;
  font-weight: 600;
}

.testimonial-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  /* font-size: 2rem; */
  cursor: pointer;
  z-index: 3;
  /* padding: 0.5rem 1rem; */
  /* border-radius: 50%; */
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.2); */
/*   transition: background 0.3s ease; */
}

/* .testimonial-arrow:hover {
  background: #eee;
} */

.testimonial-arrow.left {
  left: 2rem;
}

.testimonial-arrow.right {
  right: 2rem
}

.divider-icon{
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Footer */
footer {
  background-color: #003675;
  color: white;
  padding: 2vh 2vw;;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.footer-content img {
  width: 120px;
  margin-bottom: 1rem;
}

.footer-content p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.footer-content strong {
  font-size: 1rem;
  color: #eaff00;
}

.contact strong{
  color:white;
}

.links strong{
  color:white;
}

.instagram {
  padding: 1rem;
  border-radius: 5%;
  transition: all 0.3s ease-in-out;
}
.instagram:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  scale: 1.05;
}

.instagram strong{
  color:white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.copyright {
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #ccc;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Responsive Tweaks */
@media (max-width: 768px) {
  .slogan h1 {
    font-size: 2.5rem;
  }

  .nav-links {
    gap: 1rem;
    font-size: 0.9rem;
  }

  .language-auth button {
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
  }
}